.widget-login *{
    font-size:12px !important;
}

.widget-login
{
    position:absolute;
    top:10px;
    left:10px;
    width:40%;
    height:275px;
    z-index:9999999999999999999999999999999;
    background:white;
    overflow:hidden;
    font-family:Arial;
}

.widget-login .row {
    margin-bottom: 0px;
    margin-top: 5px;
}

.widget-login input {
    margin:0 !important;
    height:25px !important;
}

.widget-login .input-field{
    margin-top:20px !important;
}

.widget-login .form-font * {
    font-size:12px;
}