.widget-login
{
    position:absolute;
    top:0;
    left:0;
    width:40%;
    height:275px;
    z-index:9999999999999999999999999999999;
    background:white;
    overflow:hidden;
    font-family:"OpenSans", "sans-serif";
}

.widget-login .row {
    margin-bottom: 0px;
    margin-top: 5px;
}