.widget-main *{
    font-size:12px;
}

.widget-main {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40%;
    height: 570px;
    z-index: 1000000;
    background: white;
    overflow: hidden;
    font-family:Arial;
}

.card-title{
    font-size: 18px !important;
}

.result-container, .full-size {
    width: 100%;
    height: 100%;
}

.result-container .card-content {
    height: 100%;
    padding-top: 0 !important;
}

.graph-container {
    width: 100%;
    height: 70%;
}

.parent-graph-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.preloader-wrapper {
    width: 25px !important;
    height: 25px !important;
    margin-left: 20px;
}

.loading-container {
    display: inline-block;
    margin-top:10px;
}

.btn-header {
    color: #FFF;
    opacity: .6;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px !important;
    font-weight: 700;
    line-height: 1;
    margin-top: 20px;
    margin-right: 20px;
}

.btn-link {
    font-size: 15px !important;
    margin-top: 23px;
}

.minimized-content {
    display: none;
    cursor:move !important;
}

.minimized .minimized-content {
    display: block;
}

.minimized .maximized-content {
    display:none;
}

.widget-main.minimized {
    width: 54px;
    height: 64px;
}

.pointer{
    cursor: pointer;
}

.toggle-background {
    width: 34px;
    height: 18px;
    background-color: white !important;
    float: left;
    border: 1px solid rgb(84, 131, 174);
    -webkit-border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    border-radius: 18px 18px 18px 18px;
    position: relative;
    margin-left:10px;
    margin-top:17px;
}

.toggle-switch {
    width: 16px;
    height: 16px;
    background-color: #009bd9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    left: 0;
}

.toggle-switch.toggle-switched-right {
    left: 16px;
}

.chip-container{
 clear:both;
}

.chip{
    margin-right : 10px;
}

.chip .btn-header{
    color: black;
    margin-left:5px;
    margin-top:5px;
}

.graph-header{
    width:100%;
    height:40px;
}

.card {
    margin: 0 !important;
}

.input-field label {
    top: 0.5rem !important;
}

.tab-data {
    margin: 10px;
    clear:both;
}